body {
  background: black;
  font-family: "Raleway", serif;
}

.section-title {
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 5%;
}

.section-description {
  font-size: 1.5em;
  margin: auto 20% auto 20%;
}

/* Navbar */
.nav-bar {
  background: white;
}

.navbar-brand {
  color: rgb(99, 44, 33) !important;
  margin-right: 20%;
  font-size: 2em;
  font-weight: bold;
}

.navbar-brand:hover {
  color: black !important;
  cursor: pointer;
}

.event-navbar li {
  display: inline;
}

.event-navbar li a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
}

.event-navbar li a:hover {
  color: rgb(99, 44, 33);
  font-size: 2em;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 2%;
}

.login-button {
  color: rgb(99, 44, 33);
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  font-weight: bold;
  padding: 5px;
  border: 4px solid rgb(99, 44, 33);
  display: inline-block;
  transition: all 0.4s ease 0s;
  min-width: 10rem;
  margin: 1rem;
}

.login-button:hover {
  color: #ffffff;
  background: black;
  border: 4px solid black;
}

/* Jumbotron */
.jumbotron {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../travel.jpg");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  margin-top: 7%;
}

.jumbotron-container {
  text-align: center;
  width: 60%;
}

.jumbotron h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 5%;
  text-shadow: 2px 2px #000000;
}

.jumbotron p {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 1.5px 1.5px #000000;
  margin: auto 20% 5% 20%;
}

.jumbtron-button {
  font-weight: bold;
  font-size: 1.1em;
}

.jumbtron-button:hover {
  background-color: rgb(99, 44, 33);
  color: white;
}

/* About us */
.about-container {
  color: white;
}

/* Privacy */
.privacy-container {
  margin-top: 5%;
  background-color: white;
  color: black;
}

.privacy-description {
  margin-bottom: 2%;
}

.privacy-button,
.privacy-button:focus {
  font-weight: bold;
  font-size: 1.1em;
  background-color: rgb(99, 44, 33);
  color: white;
  margin-bottom: 2%;
}

.privacy-button:hover {
  background-color: black;
  color: white;
}

/* Contact us */
.contact-container {
  color: white;
  margin-top: 5%;
}

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}

input,
textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  border-radius: 8px;
  display: inline;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}

.contact-button,
.contact-button:focus {
  font-weight: bold;
  font-size: 1.1em;
  background-color: rgb(99, 44, 33);
  color: white;
  margin-bottom: 2%;
  border: 4px solid rgb(99, 44, 33);
}
.contact-button:hover {
  background-color: white;
  color: black;
  border: 4px solid white;
}

textarea {
  height: 126px;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}
