@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.App {
  text-align: center;
  padding: 2% 5%;  
}

.App * {
  box-sizing: border-box;
}

body{
  font-family: Roboto, serif;
  color: white;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url("https://cdn.pixabay.com/photo/2016/11/19/14/56/backpack-1839705_960_720.jpg") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

.eventTitle{
  font-size: 3em;
}

.display-none {
  display: none;
}
.showSuggestions {
  display: block;
}

h1{
  font-size: 2em;  
}

label{
  font-size: 1.5em;
  text-shadow: 4px 4px #000000;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

.city {
  width: 250px;
}

.CitySearch {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  max-width: 300px;
  margin: auto;
  position: relative;
}

.suggestions{
  color: black;
  z-index: 2;
  margin: 0;
  width: 250px;
  align-self: center;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #bcdcdb;
}

.event {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  background-color: rgba(99,44,33, 0.4);
  color: white;
  border-radius: 15px;
}

.event:hover{
  cursor: pointer;
  background-color: rgb(99,44,33);
}

.showDetailsButton {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#632c21;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  font-size: 1.2em;
}

.showDetailsButton:hover {
	background:linear-gradient(to bottom, #0000 5%, #0000 100%);
	background-color:#f6f6f6;
}
.showDetailsButton:active {
	position:relative;
	top:1px;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.going,
.visibility {
  font-style: italic;
}

.description {
  overflow-x: hidden;
}

.numberOfEvents {
  width: 200px;
  margin: 20px auto;
  text-align: center;
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}

.Alert {
  position: fixed;
  top: 20px;
}

.data-vis-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.data-vis-wrapper .recharts-responsive-container {
  min-width: 100%;
  display: flex;
}
.recharts-surface {
  overflow: visible;
}

.login-button {
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949;
  display: inline-block;
  transition: all 0.4s ease 0s;
  min-width: 10rem;
  margin: 1rem;
}

.google-btn {
  width: 184px;
  height: 42px;
  margin: 1rem;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669f2;
}
.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: -8px;
  width: 18px;
  height: 18px;
}
.btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}



@media only screen and (min-width: 992px) {
  .data-vis-wrapper {
    flex-direction: row;
  }
  .data-vis-wrapper .recharts-responsive-container {
    flex-basis: 50%;
    max-width: 50%;
    min-width: auto;
    margin: 0 auto;
  }
}